@using Domain.Products
@model IEnumerable<Category> ; 

<!-- Page main content START -->
<div class="page-content-wrapper border">

	<!-- Title -->
	<div class="row mb-3">
		<div class="col-12 d-sm-flex justify-content-between align-items-center">
			<h1 class="h3 mb-2 mb-sm-0 fs-5">مشاهده دسته های دوره ها <span class="badge bg-orange bg-opacity-10 text-orange"></span></h1>
			<a asp-area="PanelAdmin" asp-controller="Cource" asp-action="AddCategory" class="btn btn-sm btn-primary mb-0">افزودن دسته بندی</a>
		</div>
	</div>

	<!-- Card START -->
	<div class="card bg-transparent border">

		
		<!-- Card header END -->
		<!-- Card body START -->
		<div class="card-body">
			<!-- Course table START -->
			<div class="table-responsive border-0 rounded-3">
				<!-- Table START -->
				<table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
					<!-- Table head -->
					<thead>
						<tr>
							<th scope="col" class="border-0 rounded-start">نام دسته بندی</th>
							<th scope="col" class="border-0">مشاهده دروس </th>
							<th scope="col" class="border-0 rounded-end">عملیات</th>
							<th scope="col" class="border-0 rounded-end">وضعیت</th>
						</tr>
					</thead>

					<!-- Table body START -->
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<!-- Table data -->
								<td>
									<div class="d-flex align-items-center position-relative">										
										<!-- Title -->
										<h6 class="table-responsive-title mb-0 ms-2">
											@item.description
										</h6>
									</div>
								</td>

								<!-- Table data -->
								<td>
									<div class="d-flex align-items-center">
										
										<!-- Info -->
										<div class="ms-2">
											<a href="/PanelAdmin/Cource/ShowCategoryWithFilter?categoryid=@item.MyCategoryID" class="btn btn-sm btn-success me-1 mb-1 mb-md-0">مشاهده</a>
										</div>
									</div>
								</td>


							
								<!-- Table data -->
								<td>
									<a href="/PanelAdmin/Cource/EditCategory?categoryId=@item.MyCategoryID" class="btn btn-sm btn-success me-1 mb-1 mb-md-0">ویرایش</a>
									<a href="/PanelAdmin/Home/DeleteCategory?id=@item.MyCategoryID" class="btn btn-sm btn-danger me-1 mb-1 mb-md-0">حذف</a>
								</td>

								@if (item.Isdelete ==true )
								{
									<td>
										<div class="d-flex align-items-center position-relative">
											<!-- Title -->
											<h6 class="table-responsive-title mb-0 ms-2">
												<a href="/PanelAdmin/Home/RecoverCategory?id=@item.MyCategoryID" class="btn btn-sm btn-danger me-1 mb-1 mb-md-0">حذف شده</a>
											</h6>
										</div>
									</td>
								
								}
								else
								{
									<td>
										<div class="d-flex align-items-center position-relative">
											<!-- Title -->
											<h6 class="table-responsive-title mb-0 ms-2">
												حذف نشده
											</h6>
										</div>
									</td>
									
								}



							</tr>




						}
						<!-- Table row -->
						
					</tbody>
					<!-- Table body END -->
				</table>

				
				<!-- Table END -->
			</div>
			<!-- Course table END -->
		</div>
		@{
			int count = ViewBag.CategoryCount;
			int pageId = ViewBag.PageId;
			int take = ViewBag.Take;
			double pageCount = ViewBag.pageCount;
			
		}
		<!-- Card body END -->
		<!-- Card footer START -->
		<div class="card-footer bg-transparent pt-0">

			@if (pageCount >= 1)
			{
				<!-- Pagination START -->
				<div class="d-sm-flex justify-content-sm-between align-items-sm-center">
					<!-- Content -->
					<!-- Pagination -->
					<nav class="d-flex justify-content-center mb-0" aria-label="navigation">
						<ul class="pagination pagination-sm pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
							@for (int i = 1; i <= pageCount+1; i++ )
							{

								<li class="page-item mb-0"><a class="page-link" href="/PanelAdmin/home/AdminCourceCategory?pageid=@i" style="@((i==pageId)?"background-color: lightgoldenrodyellow;":"")">@i</a></li>
							}
							
						
						</ul>
					</nav>
				</div>
				<!-- Pagination END -->
			}
			
		</div>
		<!-- Card footer END -->
	</div>
	<!-- Card END -->
</div>
<!-- Page main content END -->