@model Application.ViewModel.PanelUserUpVm;


<div class="card bg-transparent card-body pb-0 px-0 mt-2 mt-sm-0">
	<div class="row d-sm-flex justify-sm-content-between mt-2 mt-md-0">
		<!-- Avatar -->
		<div class="col-auto">
			<div class="avatar avatar-xxl position-relative mt-n3">
				<img class="avatar-img rounded-circle border border-white border-3 shadow" src="/Avatars/@Model.Avater" alt="">
				<span class="badge text-bg-success rounded-pill position-absolute top-50 start-100 translate-middle mt-4 mt-md-5 ms-n3 px-md-3">حرفه ای</span>
			</div>
		</div>
		<!-- Profile info -->
		<div class="col d-sm-flex justify-content-between align-items-center">
			<div>
				<h1 class="my-1 fs-4">@Model.username</h1>
				<ul class="list-inline mb-0">
					<li class="list-inline-item me-3 mb-1 mb-sm-0">
						<span class="text-body fw-light">عضو شده در تاریخ</span>
						<span class="h6">@Model.createdate.Toshamsi()</span>
						
					</li>
					<li class="list-inline-item me-3 mb-1 mb-sm-0">
						<span class="h6">@Model.countCource</span>
						<span class="text-body fw-light">دوره های تکمیل شده</span>
					</li>
					
				</ul>
			</div>
			
		</div>
	</div>
</div>